.country {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 320px;
  box-shadow: 0 4px 8px var(--transparent-black-10);
  background-color: white;
}

.card {
  color: var(--black);
  text-decoration: none;
  transition: transform 0.3s ease;
  transition: color 0.3s ease;
}

.card:hover {
  color: var(--teal);
  transform: scale(1.03);
}
