:root {
  --background: #ffffff;
  --foreground: #171717;
  --transparent-black-10: #0000001a;
  --white: #ffffff;
  --black: #000000;
  --teal: #4bc0c0;
  --error-red: #ff4d4d;
  --light-error: #ffe6e6;
  --dark-red: #d60000;
  --dark-gray: #333333;
  --medium-gray: #cccccc;
  --light-gray: #fafbfc;
  --transparent-teal-10: #4bc0c01a;
  --gray-background: #e8e9eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
